In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import string
%matplotlib inline

In [33]:
df =pd.read_csv('ThorRangarokTwitterData.csv', engine='python')

In [149]:
df.head()

,Created_At,Followers_Count,Friends_Count,Location,Retweet_Count,Screen_Name,Source,Truncated,Tweet,TweetId,UserId
0,2018-01-25 16:41:07,802.0,265.0,genderless. pan-R/S,2710.0,wislwor6651,Twitter Web Client,0.0,RT @HiddlesPage: It's a family thing! ??\n#Tho...,9.565676e+17,2.911662e+09
1,2018-01-25 16:41:05,6365.0,3408.0,On a rainbow. SHARED ACCOUNT,7.0,ItalianLokiArmy,Twitter for Android,0.0,RT @HiddlesFanPage_: Happy #Thorsday! #ChrisHe...,9.565676e+17,5.872514e+08
2,2018-01-25 16:40:58,144.0,227.0,"Pennsylvania, USA",2710.0,pokerqueen33,Twitter for Android,0.0,RT @HiddlesPage: It's a family thing! ??\n#Tho...,9.565676e+17,5.842114e+08
3,2018-01-25 16:40:56,123.0,175.0,????012??/Anima,2710.0,shirahadegozai,Twitter for iPhone,0.0,RT @HiddlesPage: It's a family thing! ??\n#Tho...,9.565676e+17,1.285254e+08
4,2018-01-25 16:40:49,117.0,136.0,NaN,2710.0,hong88_Ag,Twitter Web Client,0.0,RT @HiddlesPage: It's a family thing! ??\n#Tho...,9.565675e+17,2.867101e+09

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2608 entries, 0 to 2607
Data columns (total 17 columns):
Contributors       0 non-null float64
Coordinates        0 non-null float64
Created_At         2608 non-null object
Favorited          2608 non-null float64
Followers_Count    2608 non-null float64
Friends_Count      2608 non-null float64
Geo                0 non-null float64
Location           1645 non-null object
Place              6 non-null object
Retweet_Count      2608 non-null float64
Retweeted          2608 non-null float64
Screen_Name        2608 non-null object
Source             2608 non-null object
Truncated          2608 non-null float64
Tweet              2608 non-null object
TweetId            2608 non-null float64
UserId             2608 non-null float64
dtypes: float64(11), object(6)
memory usage: 285.3+ KB

In [40]:
df.drop([ 'Contributors', 'Coordinates', 'Geo', 'Place'], inplace=True, axis=1)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2608 entries, 0 to 2607
Data columns (total 13 columns):
Created_At         2608 non-null object
Favorited          2608 non-null float64
Followers_Count    2608 non-null float64
Friends_Count      2608 non-null float64
Location           1645 non-null object
Retweet_Count      2608 non-null float64
Retweeted          2608 non-null float64
Screen_Name        2608 non-null object
Source             2608 non-null object
Truncated          2608 non-null float64
Tweet              2608 non-null object
TweetId            2608 non-null float64
UserId             2608 non-null float64
dtypes: float64(8), object(5)
memory usage: 214.0+ KB

In [43]:
df.describe()

,Favorited,Followers_Count,Friends_Count,Retweet_Count,Retweeted,Truncated,TweetId,UserId
count,2608.0,2608.000000,2608.000000,2608.000000,2608.0,2608.000000,2.608000e+03,2.608000e+03
mean,0.0,1105.332055,561.785660,2486.281442,0.0,0.013037,9.564495e+17,2.073452e+17
std,0.0,13667.431272,1035.081846,1490.192830,0.0,0.113454,7.835232e+13,3.630647e+17
min,0.0,0.000000,0.000000,0.000000,0.0,0.000000,9.563096e+17,7.722300e+04
25%,0.0,63.750000,136.000000,2712.000000,0.0,0.000000,9.563783e+17,3.742778e+08
50%,0.0,198.000000,274.000000,2715.000000,0.0,0.000000,9.564576e+17,2.223627e+09
75%,0.0,535.500000,542.000000,2719.000000,0.0,0.000000,9.565215e+17,4.895820e+09
max,0.0,665657.000000,16281.000000,40125.000000,0.0,1.000000,9.565676e+17,9.558442e+17

In [44]:
df.drop([ 'Favorited', 'Retweeted'], inplace=True, axis=1)

In [45]:
df.describe()

,Followers_Count,Friends_Count,Retweet_Count,Truncated,TweetId,UserId
count,2608.000000,2608.000000,2608.000000,2608.000000,2.608000e+03,2.608000e+03
mean,1105.332055,561.785660,2486.281442,0.013037,9.564495e+17,2.073452e+17
std,13667.431272,1035.081846,1490.192830,0.113454,7.835232e+13,3.630647e+17
min,0.000000,0.000000,0.000000,0.000000,9.563096e+17,7.722300e+04
25%,63.750000,136.000000,2712.000000,0.000000,9.563783e+17,3.742778e+08
50%,198.000000,274.000000,2715.000000,0.000000,9.564576e+17,2.223627e+09
75%,535.500000,542.000000,2719.000000,0.000000,9.565215e+17,4.895820e+09
max,665657.000000,16281.000000,40125.000000,1.000000,9.565676e+17,9.558442e+17

In [151]:
df.head()

,Created_At,Followers_Count,Friends_Count,Location,Retweet_Count,Screen_Name,Source,Truncated,Tweet,TweetId,UserId
0,2018-01-25 16:41:07,802.0,265.0,genderless. pan-R/S,2710.0,wislwor6651,Twitter Web Client,0.0,RT @HiddlesPage: It's a family thing! ??\n#Tho...,9.565676e+17,2.911662e+09
1,2018-01-25 16:41:05,6365.0,3408.0,On a rainbow. SHARED ACCOUNT,7.0,ItalianLokiArmy,Twitter for Android,0.0,RT @HiddlesFanPage_: Happy #Thorsday! #ChrisHe...,9.565676e+17,5.872514e+08
2,2018-01-25 16:40:58,144.0,227.0,"Pennsylvania, USA",2710.0,pokerqueen33,Twitter for Android,0.0,RT @HiddlesPage: It's a family thing! ??\n#Tho...,9.565676e+17,5.842114e+08
3,2018-01-25 16:40:56,123.0,175.0,????012??/Anima,2710.0,shirahadegozai,Twitter for iPhone,0.0,RT @HiddlesPage: It's a family thing! ??\n#Tho...,9.565676e+17,1.285254e+08
4,2018-01-25 16:40:49,117.0,136.0,NaN,2710.0,hong88_Ag,Twitter Web Client,0.0,RT @HiddlesPage: It's a family thing! ??\n#Tho...,9.565675e+17,2.867101e+09

In [97]:
df['Tweet'].nunique()

226

In [116]:
tweets = df['Tweet']

In [143]:
tweets.head()

0    RT @HiddlesPage: It's a family thing! ??\n#Tho...
1    RT @HiddlesFanPage_: Happy #Thorsday! #ChrisHe...
2    RT @HiddlesPage: It's a family thing! ??\n#Tho...
3    RT @HiddlesPage: It's a family thing! ??\n#Tho...
4    RT @HiddlesPage: It's a family thing! ??\n#Tho...
Name: Tweet, dtype: object

In [146]:
tweets.nunique()

226

In [153]:
tweets[:5]

0    RT @HiddlesPage: It's a family thing! ??\n#Tho...
1    RT @HiddlesFanPage_: Happy #Thorsday! #ChrisHe...
2    RT @HiddlesPage: It's a family thing! ??\n#Tho...
3    RT @HiddlesPage: It's a family thing! ??\n#Tho...
4    RT @HiddlesPage: It's a family thing! ??\n#Tho...
Name: Tweet, dtype: object

In [155]:
df['pre_clean_len'] = [len(t) for t in df.Tweet]

In [157]:
df.head()

,Created_At,Followers_Count,Friends_Count,Location,Retweet_Count,Screen_Name,Source,Truncated,Tweet,TweetId,UserId,pre_clean_len
0,2018-01-25 16:41:07,802.0,265.0,genderless. pan-R/S,2710.0,wislwor6651,Twitter Web Client,0.0,RT @HiddlesPage: It's a family thing! ??\n#Tho...,9.565676e+17,2.911662e+09,88
1,2018-01-25 16:41:05,6365.0,3408.0,On a rainbow. SHARED ACCOUNT,7.0,ItalianLokiArmy,Twitter for Android,0.0,RT @HiddlesFanPage_: Happy #Thorsday! #ChrisHe...,9.565676e+17,5.872514e+08,118
2,2018-01-25 16:40:58,144.0,227.0,"Pennsylvania, USA",2710.0,pokerqueen33,Twitter for Android,0.0,RT @HiddlesPage: It's a family thing! ??\n#Tho...,9.565676e+17,5.842114e+08,88
3,2018-01-25 16:40:56,123.0,175.0,????012??/Anima,2710.0,shirahadegozai,Twitter for iPhone,0.0,RT @HiddlesPage: It's a family thing! ??\n#Tho...,9.565676e+17,1.285254e+08,88
4,2018-01-25 16:40:49,117.0,136.0,NaN,2710.0,hong88_Ag,Twitter Web Client,0.0,RT @HiddlesPage: It's a family thing! ??\n#Tho...,9.565675e+17,2.867101e+09,88

In [159]:
tw = df[['Tweet', 'Retweet_Count', 'pre_clean_len' ]]

In [186]:
tw['Tweet'].head()

0    RT @HiddlesPage: It's a family thing! ??\n#Tho...
1    RT @HiddlesFanPage_: Happy #Thorsday! #ChrisHe...
2    RT @HiddlesPage: It's a family thing! ??\n#Tho...
3    RT @HiddlesPage: It's a family thing! ??\n#Tho...
4    RT @HiddlesPage: It's a family thing! ??\n#Tho...
Name: Tweet, dtype: object

In [230]:
import nltk
from nltk.corpus import stopwords
import re

In [233]:
at = r'@[A-Za-z0-9]+'
link = r'https?://[A-Za-z0-9./]+'
combined = r'|'.join((at, link))

def text_proces(mess):
    '''
    1. remove punctuation
    2. remove stop words
    3. return list of clean text words in lower case
    '''
    txt = re.sub(combined, '', mess)
    nopunc = [char for char in txt if char not in string.punctuation]
    
    nopunc = ''.join(nopunc)
    
    return [word.lower() for word in nopunc.split() if word.lower() not in stopwords.words('english')]

In [234]:
text = tw['Tweet'].apply(text_proces)

In [241]:
clean_df = pd.DataFrame(text)

### How the cleaned data looks

In [242]:
clean_df['Tweet'][0]

['rt', 'family', 'thing', 'thorragnarok', 'thorsday']

### And how the data used to look

In [240]:
tw['Tweet'][0]

"RT @HiddlesPage: It's a family thing! ??\n#ThorRagnarok #Thorsday https://t.co/7MuTKdS3VD"