In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import string
%matplotlib inline

In [2]:
df =pd.read_csv('ThorRangarokTwitterData.csv', engine='python')

In [3]:
df.head()

,Unnamed: 0,Contributors,Coordinates,Created_At,Favorited,Followers_Count,Friends_Count,Geo,Location,Place,Retweet_Count,Retweeted,Screen_Name,Source,Truncated,Tweet,TweetId,UserId
0,0,NaN,NaN,2018-01-25 16:41:07,0.0,802.0,265.0,NaN,genderless. pan-R/S,NaN,2710.0,0.0,wislwor6651,Twitter Web Client,0.0,RT @HiddlesPage: It's a family thing! ??\n#Tho...,9.565676e+17,2.911662e+09
1,1,NaN,NaN,2018-01-25 16:41:05,0.0,6365.0,3408.0,NaN,On a rainbow. SHARED ACCOUNT,NaN,7.0,0.0,ItalianLokiArmy,Twitter for Android,0.0,RT @HiddlesFanPage_: Happy #Thorsday! #ChrisHe...,9.565676e+17,5.872514e+08
2,2,NaN,NaN,2018-01-25 16:40:58,0.0,144.0,227.0,NaN,"Pennsylvania, USA",NaN,2710.0,0.0,pokerqueen33,Twitter for Android,0.0,RT @HiddlesPage: It's a family thing! ??\n#Tho...,9.565676e+17,5.842114e+08
3,3,NaN,NaN,2018-01-25 16:40:56,0.0,123.0,175.0,NaN,????012??/Anima,NaN,2710.0,0.0,shirahadegozai,Twitter for iPhone,0.0,RT @HiddlesPage: It's a family thing! ??\n#Tho...,9.565676e+17,1.285254e+08
4,4,NaN,NaN,2018-01-25 16:40:49,0.0,117.0,136.0,NaN,NaN,NaN,2710.0,0.0,hong88_Ag,Twitter Web Client,0.0,RT @HiddlesPage: It's a family thing! ??\n#Tho...,9.565675e+17,2.867101e+09

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2608 entries, 0 to 2607
Data columns (total 18 columns):
Unnamed: 0         2608 non-null int64
Contributors       0 non-null float64
Coordinates        0 non-null float64
Created_At         2608 non-null object
Favorited          2608 non-null float64
Followers_Count    2608 non-null float64
Friends_Count      2608 non-null float64
Geo                0 non-null float64
Location           1645 non-null object
Place              6 non-null object
Retweet_Count      2608 non-null float64
Retweeted          2608 non-null float64
Screen_Name        2608 non-null object
Source             2608 non-null object
Truncated          2608 non-null float64
Tweet              2608 non-null object
TweetId            2608 non-null float64
UserId             2608 non-null float64
dtypes: float64(11), int64(1), object(6)
memory usage: 305.7+ KB

In [5]:
df.drop([ 'Contributors', 'Coordinates', 'Geo', 'Place'], inplace=True, axis=1)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2608 entries, 0 to 2607
Data columns (total 14 columns):
Unnamed: 0         2608 non-null int64
Created_At         2608 non-null object
Favorited          2608 non-null float64
Followers_Count    2608 non-null float64
Friends_Count      2608 non-null float64
Location           1645 non-null object
Retweet_Count      2608 non-null float64
Retweeted          2608 non-null float64
Screen_Name        2608 non-null object
Source             2608 non-null object
Truncated          2608 non-null float64
Tweet              2608 non-null object
TweetId            2608 non-null float64
UserId             2608 non-null float64
dtypes: float64(8), int64(1), object(5)
memory usage: 234.4+ KB

In [7]:
df.describe()

,Unnamed: 0,Favorited,Followers_Count,Friends_Count,Retweet_Count,Retweeted,Truncated,TweetId,UserId
count,2608.000000,2608.0,2608.000000,2608.000000,2608.000000,2608.0,2608.000000,2.608000e+03,2.608000e+03
mean,1303.500000,0.0,1105.332055,561.785660,2486.281442,0.0,0.013037,9.564495e+17,2.073452e+17
std,753.009075,0.0,13667.431272,1035.081846,1490.192830,0.0,0.113454,7.835232e+13,3.630647e+17
min,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,9.563096e+17,7.722300e+04
25%,651.750000,0.0,63.750000,136.000000,2712.000000,0.0,0.000000,9.563783e+17,3.742778e+08
50%,1303.500000,0.0,198.000000,274.000000,2715.000000,0.0,0.000000,9.564576e+17,2.223627e+09
75%,1955.250000,0.0,535.500000,542.000000,2719.000000,0.0,0.000000,9.565215e+17,4.895820e+09
max,2607.000000,0.0,665657.000000,16281.000000,40125.000000,0.0,1.000000,9.565676e+17,9.558442e+17

In [8]:
df.drop([ 'Favorited', 'Retweeted'], inplace=True, axis=1)

In [9]:
df.describe()

,Unnamed: 0,Followers_Count,Friends_Count,Retweet_Count,Truncated,TweetId,UserId
count,2608.000000,2608.000000,2608.000000,2608.000000,2608.000000,2.608000e+03,2.608000e+03
mean,1303.500000,1105.332055,561.785660,2486.281442,0.013037,9.564495e+17,2.073452e+17
std,753.009075,13667.431272,1035.081846,1490.192830,0.113454,7.835232e+13,3.630647e+17
min,0.000000,0.000000,0.000000,0.000000,0.000000,9.563096e+17,7.722300e+04
25%,651.750000,63.750000,136.000000,2712.000000,0.000000,9.563783e+17,3.742778e+08
50%,1303.500000,198.000000,274.000000,2715.000000,0.000000,9.564576e+17,2.223627e+09
75%,1955.250000,535.500000,542.000000,2719.000000,0.000000,9.565215e+17,4.895820e+09
max,2607.000000,665657.000000,16281.000000,40125.000000,1.000000,9.565676e+17,9.558442e+17

In [10]:
df.head()

,Unnamed: 0,Created_At,Followers_Count,Friends_Count,Location,Retweet_Count,Screen_Name,Source,Truncated,Tweet,TweetId,UserId
0,0,2018-01-25 16:41:07,802.0,265.0,genderless. pan-R/S,2710.0,wislwor6651,Twitter Web Client,0.0,RT @HiddlesPage: It's a family thing! ??\n#Tho...,9.565676e+17,2.911662e+09
1,1,2018-01-25 16:41:05,6365.0,3408.0,On a rainbow. SHARED ACCOUNT,7.0,ItalianLokiArmy,Twitter for Android,0.0,RT @HiddlesFanPage_: Happy #Thorsday! #ChrisHe...,9.565676e+17,5.872514e+08
2,2,2018-01-25 16:40:58,144.0,227.0,"Pennsylvania, USA",2710.0,pokerqueen33,Twitter for Android,0.0,RT @HiddlesPage: It's a family thing! ??\n#Tho...,9.565676e+17,5.842114e+08
3,3,2018-01-25 16:40:56,123.0,175.0,????012??/Anima,2710.0,shirahadegozai,Twitter for iPhone,0.0,RT @HiddlesPage: It's a family thing! ??\n#Tho...,9.565676e+17,1.285254e+08
4,4,2018-01-25 16:40:49,117.0,136.0,NaN,2710.0,hong88_Ag,Twitter Web Client,0.0,RT @HiddlesPage: It's a family thing! ??\n#Tho...,9.565675e+17,2.867101e+09

In [11]:
df['Tweet'].nunique()

226

In [12]:
tweets = df['Tweet']

In [13]:
tweets.head()

0    RT @HiddlesPage: It's a family thing! ??\n#Tho...
1    RT @HiddlesFanPage_: Happy #Thorsday! #ChrisHe...
2    RT @HiddlesPage: It's a family thing! ??\n#Tho...
3    RT @HiddlesPage: It's a family thing! ??\n#Tho...
4    RT @HiddlesPage: It's a family thing! ??\n#Tho...
Name: Tweet, dtype: object

In [14]:
tweets.describe()

count                                                  2608
unique                                                  226
top       RT @HiddlesPage: It's a family thing! ??\n#Tho...
freq                                                   2263
Name: Tweet, dtype: object

In [15]:
tweets.nunique()

226

In [16]:
tweets[:5]

0    RT @HiddlesPage: It's a family thing! ??\n#Tho...
1    RT @HiddlesFanPage_: Happy #Thorsday! #ChrisHe...
2    RT @HiddlesPage: It's a family thing! ??\n#Tho...
3    RT @HiddlesPage: It's a family thing! ??\n#Tho...
4    RT @HiddlesPage: It's a family thing! ??\n#Tho...
Name: Tweet, dtype: object

In [17]:
tweets.value_counts().head()

RT @HiddlesPage: It's a family thing! ??\n#ThorRagnarok #Thorsday https://t.co/7MuTKdS3VD                                                      2263
RT @TomH_Brasil: Loki: Your Savior is Here!!! #Loki #TomHiddleston #ThorRagnarok ? https://t.co/naFWN9CtoQ                                       26
RT @MCU_Tweets: Ideas for a fourth THOR movie were discussed between #ThorRagnarok director @TaikaWaititi and actor @chrishemsworth during…      21
RT @HeroesInColor00: #Funko #marvel #ThorRagnarok - #Heimdall\nGet it now https://t.co/RXm0hbKKeN https://t.co/uBTx5zdhXj                        10
RT @9GAG: He used to be mine.\n#Thorragnarok https://t.co/Uw8vJfuzda                                                                             10
Name: Tweet, dtype: int64

In [18]:
df['pre_clean_len'] = [len(t) for t in df.Tweet]

In [19]:
df.head()

,Unnamed: 0,Created_At,Followers_Count,Friends_Count,Location,Retweet_Count,Screen_Name,Source,Truncated,Tweet,TweetId,UserId,pre_clean_len
0,0,2018-01-25 16:41:07,802.0,265.0,genderless. pan-R/S,2710.0,wislwor6651,Twitter Web Client,0.0,RT @HiddlesPage: It's a family thing! ??\n#Tho...,9.565676e+17,2.911662e+09,88
1,1,2018-01-25 16:41:05,6365.0,3408.0,On a rainbow. SHARED ACCOUNT,7.0,ItalianLokiArmy,Twitter for Android,0.0,RT @HiddlesFanPage_: Happy #Thorsday! #ChrisHe...,9.565676e+17,5.872514e+08,118
2,2,2018-01-25 16:40:58,144.0,227.0,"Pennsylvania, USA",2710.0,pokerqueen33,Twitter for Android,0.0,RT @HiddlesPage: It's a family thing! ??\n#Tho...,9.565676e+17,5.842114e+08,88
3,3,2018-01-25 16:40:56,123.0,175.0,????012??/Anima,2710.0,shirahadegozai,Twitter for iPhone,0.0,RT @HiddlesPage: It's a family thing! ??\n#Tho...,9.565676e+17,1.285254e+08,88
4,4,2018-01-25 16:40:49,117.0,136.0,NaN,2710.0,hong88_Ag,Twitter Web Client,0.0,RT @HiddlesPage: It's a family thing! ??\n#Tho...,9.565675e+17,2.867101e+09,88

In [20]:
tw = df[['Tweet', 'Retweet_Count', 'pre_clean_len' ]]

In [21]:
tw.head()

,Tweet,Retweet_Count,pre_clean_len
0,RT @HiddlesPage: It's a family thing! ??\n#Tho...,2710.0,88
1,RT @HiddlesFanPage_: Happy #Thorsday! #ChrisHe...,7.0,118
2,RT @HiddlesPage: It's a family thing! ??\n#Tho...,2710.0,88
3,RT @HiddlesPage: It's a family thing! ??\n#Tho...,2710.0,88
4,RT @HiddlesPage: It's a family thing! ??\n#Tho...,2710.0,88

In [22]:
tw.groupby('Tweet')['Retweet_Count'].count().sort_values(ascending=False).head()

Tweet
RT @HiddlesPage: It's a family thing! ??\n#ThorRagnarok #Thorsday https://t.co/7MuTKdS3VD                                                      2263
RT @TomH_Brasil: Loki: Your Savior is Here!!! #Loki #TomHiddleston #ThorRagnarok ? https://t.co/naFWN9CtoQ                                       26
RT @MCU_Tweets: Ideas for a fourth THOR movie were discussed between #ThorRagnarok director @TaikaWaititi and actor @chrishemsworth during…      21
RT @HeroesInColor00: #Funko #marvel #ThorRagnarok - #Heimdall\nGet it now https://t.co/RXm0hbKKeN https://t.co/uBTx5zdhXj                        10
RT @9GAG: He used to be mine.\n#Thorragnarok https://t.co/Uw8vJfuzda                                                                             10
Name: Retweet_Count, dtype: int64

In [23]:
import nltk
from nltk.corpus import stopwords
import re

In [24]:
at = r'@[A-Za-z0-9]+'
link = r'https?://[A-Za-z0-9./]+'
combined = r'|'.join((at, link))

def text_proces(tweets):
    '''
    0. remove links and @'s
    1. remove punctuation and remove #tags but keep teh text
    2. remove stop words
    3. return list of clean text words in lower case
    '''
    txt = re.sub(combined, '', tweets)
    
    nopunc = [char for char in txt if char not in string.punctuation]
    
    nopunc = ''.join(nopunc)
    
    return [word.lower() for word in nopunc.split() if word.lower() not in stopwords.words('english')]

In [25]:
text = tw['Tweet'].apply(text_proces)

In [26]:
clean_df = pd.DataFrame(text)

### How the cleaned data looks

In [27]:
clean_df['Tweet'][0]

['rt', 'family', 'thing', 'thorragnarok', 'thorsday']

### And how the data used to look

In [28]:
tw['Tweet'][0]

"RT @HiddlesPage: It's a family thing! ??\n#ThorRagnarok #Thorsday https://t.co/7MuTKdS3VD"

In [29]:
x =tw.groupby('Tweet')['pre_clean_len'].mean().sort_values(ascending=False)

In [30]:
x= pd.DataFrame(x)

In [31]:
from nltk.stem.porter import *
lemmer = nltk.stem.WordNetLemmatizer()

In [32]:
clean_df['new tweets'] = clean_df['Tweet'].apply(lambda x: [lemmer.lemmatize(i) for i in x])

In [33]:
for i in range(len(clean_df['new tweets'])):
    clean_df['new tweets'][i] = ' '.join(clean_df['new tweets'][i])

In [134]:
new = clean_df.drop_duplicates(subset='new tweets')

In [135]:
clean_df.head()

,Tweet,new tweets
0,"[rt, family, thing, thorragnarok, thorsday]",rt family thing thorragnarok thorsday
1,"[rt, happy, thorsday, chrishemsworth, tomhiddl...",rt happy thorsday chrishemsworth tomhiddleston...
2,"[rt, family, thing, thorragnarok, thorsday]",rt family thing thorragnarok thorsday
3,"[rt, family, thing, thorragnarok, thorsday]",rt family thing thorragnarok thorsday
4,"[rt, family, thing, thorragnarok, thorsday]",rt family thing thorragnarok thorsday

In [136]:
new.drop('Tweet', axis=1, inplace=True)

c:\users\hp\appdata\local\programs\python\python36-32\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [137]:
new = new.join(tw['Retweet_Count'])

In [138]:
new.head()

                                           new tweets  Retweet_Count
0               rt family thing thorragnarok thorsday         2710.0
1   rt happy thorsday chrishemsworth tomhiddleston...            7.0
7   thor went need horse another spaceship trip mi...            0.0
13  used imagine dragonsthunder thor ragnarok marv...            0.0
42       downloading 2 movie brightmovie thorragnarok            0.0

### Now we have clean data of lemmatized tweets

In [150]:
for i in new.index:
    if (new['new tweets'][i][:2] == 'rt'):
        new['Retweet'][i] = "Yes"
    else:
        new['Retweet'][i ]= "No"

c:\users\hp\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\hp\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [152]:
new.head()

                                           new tweets  Retweet_Count Retweet
0               rt family thing thorragnarok thorsday         2710.0     Yes
1   rt happy thorsday chrishemsworth tomhiddleston...            7.0     Yes
7   thor went need horse another spaceship trip mi...            0.0      No
13  used imagine dragonsthunder thor ragnarok marv...            0.0      No
42       downloading 2 movie brightmovie thorragnarok            0.0      No

In [165]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidfVec = TfidfVectorizer()

In [169]:
tweets_vector = tfidfVec.fit_transform(new['new tweets'])

In [171]:
tweets_vector

<223x760 sparse matrix of type '<class 'numpy.float64'>'
	with 1769 stored elements in Compressed Sparse Row format>

In [167]:
from sklearn.cluster import KMeans

In [168]:
km = KMeans(n_clusters=2)

In [172]:
km.fit(tweets_vector)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=2, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [173]:
km.cluster_centers_

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.00161595, 0.00212243, 0.00191421, ..., 0.00549224, 0.00127876,
        0.00148683]])

In [174]:
km.labels_

array([0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1])